body{
    /* width:100%; */
    height:900px;
    background-color:darkcyan;
    font-family:'Courier New', Courier, monospace;
}
.icon{
    /* width:80%; */
    margin-left:5%;
}
.icon > img{
    width:10%;
    height:100%;
    animation: 3s sheep infinite;
}
.header{
    padding-top:1.5%;
    width:48%;
    height:20%;
    float: right;
    /* border: 4px solid black; */
    margin-right: 40%;
}
.header > h1{
    /* border:2px solid black; */
    font-family:'Courier New', Courier, monospace;
    color:pink;
    animation: 2s title infinite;
    margin:auto;
    font-size: 3.5vw;
}
.header > h3{
    /* border:2px solid black; */
    color: bisque;
    animation: 2s stitle infinite;
    margin:auto;
    font-size:2vw;
}
@keyframes sheep{
    0%{transform: scale(0.5);}
    50%{transform: scale(1);}
    100%{transform: scale(0.5);}
}
@keyframes title {
    /* 0%{transform: translateY(-1vw);} */
    30%{transform: translateY(5vw);}
    60%{transform: translateY(-2vw)}
    100%{transform: translateY(initial);}
    /* 100%{transform:translateY(-20px)} */
}
@keyframes stitle {
    /* 0%{transform: translateY(1vw);} */
    30%{transform: translateY(-5vw);}
    60%{transform: translateY(2vw)}
    100%{transform:translateY(initial);}
    /* 100%{transform: translateY(20px);} */
}
.stage{
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    width:90%;
    height:50px;
    overflow:hidden;
    margin-left:5%;
    border-top: 8px double bisque;
    border-left: 8px double bisque;
    border-right: 8px double bisque;
}
.slideshow{
    width:300%;
    height:100%;
    animation: 20s slide infinite;
}
.slideshow div{
    float:left;
    text-align: center;
    width: 33.3%;
    height:100%;
    padding-top:0.5%;
}
.slide1{
    background-color: bisque;
}
.slide2{
    background-color:lightblue;
}
.slide3{
    background-color: lightpink;
}
@keyframes slide{
    0%{margin-left:0%;}
    25%{margin-left:-100%;}
    50%{margin-left:-200%;}
    75%{margin-left:-100%;}
    100%{margin-left: 0%;}
    /* 100%{margin-left:-300%;} */
}
.frontimg{
    width:90%;
    margin-left:5%;
    position:relative;
} 
.frontimg > img{
    width:100%;
    border: 8px double bisque;
}
.imgtxt{
    position:absolute;
    background-color: rgba(143, 105, 80, 0.507);
    right:25%;
    bottom:45%;
    width:30%;
    text-align:center;
    border: 4px dotted burlywood;
    color: whitesmoke;
}
.arcanine{
    width:40%;
    height:40%;
    margin-left:5%;
    position:relative;
    background:linear-gradient(rgba(202, 143, 153, 0.397),rgba(89, 32, 155, 0.5)),url('images/arcanine.jpg') center;
    border: 8px double bisque;
    float:left;
}
.arcanine > img{
    width:100%;
    height:100%;
}
.arctxt{
    position: absolute;
    top:5%;
    right:5%;
    width:40%;
    border:3px dotted lightgoldenrodyellow;
    padding:2%;
    color:whitesmoke;
}
.benefit{
    margin:auto;
    width:30%;
    /* height: 30.3vw; */
    padding:5%;
    border: 8px double bisque;
    float: right;
    background-image:linear-gradient(rgba(230, 105, 122, 0.397),rgba(52, 176, 214, 0.5));
    margin-right:4%;
    color:mistyrose;
}

.flexbox{
    width: 100%;
    /* height:80%; */
    display:flex;
    flex-flow: row wrap;
    align-items:normal;
    margin:auto;
    /* justify-content:center;
    align-content:center; */
    /* overflow:auto; */
}
.winter{
    width:100%;
    margin-left: 2%;
    color: white;
}
.brd{
    /* padding: 1%; */
    margin:auto;
    width:400px;
    /* height: 25vw; */
    border: 8px double bisque;
    /* position:absolute; */
}
.center{
    width:100%;
    height:100%;
    /* margin:auto; */
    padding-bottom: 5%;
    background-color: lightblue;
    /* position: relative; */
}
.center > img{
    width:100%;
    height: 100%;
}
.center > strong{
    text-align: center;
}
.btn{
    width:25%;
    color:darkcyan;
    background-color: bisque;
    /* margin-bottom:10%; */
    margin-left: 36%;
    padding: 2%;
    border-radius: 4px;
    text-decoration: none;
}
.btn:hover{
    background-color: darkslategrey;
    color:bisque;
    border: 2px dotted bisque;
}
.mdl{
    /* opacity:0; */
    display:none;
    /* width:100%;
    height:100vh; */
    padding: 10px;
    position: fixed;
    top:0%;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(66,230, 250, 0.5);
    pointer-events:none;
}
.msgblock{
    width:50%;
    background-color: white;
    position:fixed;
    right:25%;
    border-radius: 5px;
}

.msgblock > h2{
    margin-left: 5%;
}
.msgblock > hr{
    height: 5px;
    background-color: darkslategrey;
    width: 90%;
}
.msgblock > div > hr{
    height: 5px;
    background-color: darkslategrey;
    width: 100%;
}
.x{
    color:lightblue;
    background-color: bisque;
    position:absolute;
    top:0;
    right:0%;
    width: auto;
}
.para{
    padding:5%;
    background-color: lightblue;
    width:90.2%;
    border-radius: 5px;
    /* margin:5%; */
    float:left;
}

.msgblock img{
    margin-left:5%;
    width:40%;
    height: 20%;
}
.side{
    float:right;
    margin-right: 10%;
    width: 40%;
}
.btn2{
    width:12%;
    color:darkcyan;
    background-color: bisque;
    padding: 1%;
    border-radius: 4px;
    text-decoration: none;
    /* position:absolute; */
}
.btn2:hover{
    background-color: darkslategrey;
    color:bisque;
    border: 2px dotted bisque;
}
.mdl:target{
    display:initial;
    pointer-events:all;
}
.footer{
    background-color: cadetblue;
    width: 96%;
}
.box{
    /* padding: 1%; */
    margin:auto;
    width:25%;
    /* height: 25vw; */
    /* position:absolute; */
}
.box > p, h3{
    text-align:center;
}
.hr {
    width:90%;
    margin:auto;
}
.hr > h3{
    text-align: right;
    position:relative;
}
.links{
    width: 18%;
    height:60%;
    float: right;
}
.fab{
    font-size:25px;
    color: pink;
}
.fab:hover{
    color:darkslategrey;
}
.last{
    width:100%;
    text-align: center;
    padding-top: 8%;
}