@font-face { font-family: Bubble; src: url(assets/a-alloy-ink-font/AlloyInk-lgdWw.otf); } 
body {
    font-family: Bubble;
    width: 100%;
    height: 900px;
    background-color: bisque;
}
.navbar {
    border: solid peru;
}


.carousel {
    border: solid peru;
}
.carousel .carousel-item {
    height: 500px;
}

.carousel-caption {
    /* background-color: bisque; */
    text-shadow: 2px 2px #000000;
}

div.carousel-item img {
    position: absolute;
    object-fit: contain;
    top: -20%;
    min-height: 760px;
}


.img-thumbnail {
    height: 100px;
}

.toast {
    right: 1%;
    bottom: 1%;
    position: fixed;
}

.d-block {
    width: 90%;
    padding-bottom: 3%;
}

.text-center {
    padding-bottom: 2%;
}

footer {
    background-color: white;
    bottom: 0;
}

.social i{
    font-size: xx-large;
}

/* Concert.html */

.list-group-item-action img {
    height: 200px;
}


/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px peru; 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: chocolate; 
    border: solid white;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: brown; 
  }
