<li class="list-group-item d-flex justify-content align-items-center"> 
    <img src="<%= thumbnail %>" class="img-thumbnail" alt="thumbnail">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><%= title %></div>
    </div>
    <a href="https://www.youtube.com/watch?v=<%= id %>" type="button" target="_blank" class="btn btn-outline-dark">Watch</a>
</li>