body {
    background-image: url(./giphy.gif);
    height: 100vh;
    /* Set background properties */
    background-size: 3%; /* Auto to maintain aspect ratio */
    background-repeat: repeat; /* Repeat the image */
    scroll-behavior: smooth;
    
}

div{
    margin: auto;
    text-align: center;
}




#RNA, #text, #select {
    width: 50%;
}
button {
    flex-wrap: wrap;

}

/* #modal-example {
    overflow-y: auto;
}
   */
/* .container {
    top: 5%;
    height:fit-content;
    background-color: hsla(0, 0%, 80%, 0.5);
} 
*/
