body{
    margin: 0;
    height: 700px;
    /* make the bgpic the full screen*/
    background-size: 100%;
}
.center{
    width: 70%;
    height: 100%;
    margin: auto;   
    border: 4px solid hotpink;
    background-color:thistle;
    box-shadow: 0px 4px 6px darkslateblue;
    /* makes it relative to previous position */
    position: relative;
}
nav{
    border-bottom: 4px solid hotpink;
    text-align:center;
    background-color:plum;
    /* space between text and box */
    padding: 1% 5% 2%;
}
nav a{
    color:purple;
    text-decoration:none;
    /* separate <a> elements */
    padding: 2.5%;
}
nav a:hover{
    background-color: hotpink;
    color:white;
    padding: 2% 3% 2.5%;
}
.container1{
    width: 30%;
    height: 30%;
    margin: auto;
    border: 4px solid hotpink;
}
iframe{
    width: 100%;
    height:100%;
}
.container2{
    width: 80%;
    height: 40%;
    margin: auto;
    margin-top: 5%;     
}
img{
    width: 30%;
    border: 2px solid black;
    border-radius: 3%;
}
.container3{
    width: 40%;
    height: 100%;
    float: right;
}
.paragraph{
    /* make the div float */
    float:left;
    width: 100%;
    height: 80%;
    /* div reamins inside */
    overflow: auto;
}
.paragraph p{
    padding-top:10%;
    margin: auto;
}
#p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: hotpink;
}
#p2{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: pink;
}
#p3{
    font-family: "Corsiva";
    font-size: 18px;
    background-color: lightpink;
}
.button{
    /* button container can be modified */
    float: left;
    width: 50%;
    height: 10%;
    margin-left: 25%; 
}
button{
    width: 100%;
    height: 100%;
    background-color: orange;
    color:white;
    border-radius: 6px;
    padding: 4%;
    border: none;
    font-size: 12px;
}
button:hover{
    background-color:sandybrown;
    color:papayawhip;
}
footer{
    border-top: 4px solid hotpink;
    text-align: center;
    background-color:midnightblue;
    width: 100%;
    height: 11%;
    /* remains in the bottom of block */
    bottom: 0;
    position: absolute;
}
footer p{
    color:white;
}
